.flashable {
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    transition: background-color 0.2s ease-in-out;
  }
  
  .flash-red {
    background-color: rgb(171, 10, 10) !important;
  }
  