.flashable {
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    transition: background-color 0.2s ease-in-out;
  }
  
  .flash-purple {
    background-color: rgb(156, 9, 247) !important;
  }
  